@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li{
  list-style-type: none;
}

ul{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
   color: #797979;
}

.footer{
  display: flex;
  background-color: #eeeeee;
  padding: 20px;

}

.header{
  display: flex;
  padding: 20px;
}

.content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left-links{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  gap: 20px;
}

.right-links{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 20px;
}
