/* Add CSS Styling */
.odd{
    background-color: rgb(225, 131, 131);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.tf{
    font-size: 24px;
}

#second{
    color: rgb(4, 73, 152);
    font-size: 36px;
}

#fourth{
    background-color: rgb(158, 233, 194);
    font-weight: bold;
}