/* Add CSS Styling */
.first{
 background-color: rgb(0, 0, 0);
 color: rgb(255, 255, 255);
}

.second{
 background-color: hsl(0, 100%, 39%);
 color: rgb(40, 0, 170);
}

.first
.second{
 font-size: 28px;
 font-family: Helvetica, 'Times New Roman', sans-serif;
}